extends layout

block content
  include _header
  .container
    table.table.file-table
      thead
        tr
          th.text-center Disk Usage
          th.text-center Name
          th.text-center Email
          th.text-center Actions
      tbody
        for u in userList
          tr
            td.text-center
              - var percent = Math.ceil(u.diskUsage / u.diskQuota * 100)
              .chart(data-percent=percent) 
                span= percent
                | %
            td.text-center #{u.displayName}


            td.text-center #{u.email}
            td.text-center
              a.button.has-icon(id='delete-btn', data-user='#{u.googleId}')
                i.icon-cross
              |&nbsp;
              a.button.has-icon(id='quota-btn', data-user='#{u.googleId}', data-quota='#{u.diskQuota}')
                i.icon-config


  script.
    // disk usage circle
    $('.chart').easyPieChart({
      size: 80,
      animate: 800,
      onStep: function(value) {
        this.$el.find('span').text(~~value);
      }
    });
    // delete user confirmation
    $('#delete-btn').click(function() {
      var answer = confirm('Are you sure you want to delete the user?');
      var user = $(this).data('user');
      
      if (answer) {
        $.ajax({
          url: '/admin/users/' + user,
          type: 'DELETE',
          success: function(result) {
            console.log(result);
          }
        });
      }
    });
    // manage quota prompt
    $('#quota-btn').click(function() {
      var currentQuota = $(this).data('quota');
      var newQuota = prompt('Manage User Disk Quota (bytes):', currentQuota);
      var user = $(this).data('user');
      if (!newQuota) {
        return false;
      }
      $.ajax({
        url: '/admin/users/' + user,
        type: 'PUT',
        data: { newQuota: newQuota },
        success: function(result) {
          humane.log(result);
        }
      });
    });


