extends layout

block content
  include _header
  #wrapper
    #scroller
      .container.fadeInLeft.animated
        table.table.file-table
          thead
            tr
              th.text-center Disk Usage
              th.text-center Name
              th.text-center Email
              th.text-center Actions
          tbody
            for u in userList
              tr
                td.text-center
                  - var percent = Math.ceil(u.diskUsage / u.diskQuota * 100)
                  span= percent
                    | %
                  .chart(data-percent=percent)

                td.text-center #{u.displayName}

                td.text-center #{u.email}
                td.text-center
                  a.btn.btn-xs.btn-danger(class='delete-btn', data-user='#{u.googleId}')
                    i.glyphicon.glyphicon-trash
                  |&nbsp;
                  a.btn.btn-xs.btn-success(class='quota-btn', data-user='#{u.googleId}', data-quota='#{u.diskQuota}')
                    i.glyphicon.glyphicon-dashboard
