extends layout

block content
  include _header
  #wrapper
    #scroller
      .fadeInLeft.animated
        ul
          for u in userList
            li
              - var percent = Math.ceil(u.diskUsage / u.diskQuota * 100)
              .admin-usage
                span #{percent}%
              .admin-controls.light
                a(href='#', class='delete-btn', data-user='#{u.googleId}') Delete User
                br
                a(href='#', class='quota-btn', data-user='#{u.googleId}', data-quota='#{u.diskQuota}') Manage Quota
              .inner
                .heavy.ellipsis #{u.displayName}
                .light.ellipsis #{u.email}