.text-center
  .file-open
    span.entypo.entypo-lg &#128240;
.text-center
  a.button.is-primary.has-icon(href='#{downloadUrl}')
    span.glyphicon.glyphicon-send
    span &nbsp; Open in Browser

dl.file-card
  dt
    span.entypo &#128318;
    |  #{file.name}
  dd Category
    .pull-right #{file.category}
  dd Size
    .pull-right #{file.friendlySize}

dl.file-card
  dt
    span.entypo &#59148;
    |  User Tags
  dd
    if file.tags.length > 0
      for tag in file.tags
        span.label.label-tag #{tag}
        |&nbsp;
    else
      div No tags

if file.entities.length > 0
  dl.file-card
    dt
      span.entypo &#128101;
      |  Entities
    dd
      ul.list-unstyled.tags.green
        for entity in file.entities
          li.entity(data-toggle='tooltip', title='#{entity.type}') #{entity.text}
            span

if file.concepts.length > 0
  dl.file-card
    dt
      span.entypo &#59172;
      |  Concepts
    dd
      ul.list-unstyled.tags
        for concept in file.concepts
          li #{concept.text}
            span


if file.keywords.length > 0
  dl.file-card
    dt
      span.entypo &#9000;
      |  Keywords
    dd
      ul.list-unstyled.tags.blue
        for keyword in file.keywords
          li #{keyword.text}
            span


p
  button#delete-file.button.is-danger(data-id='#{file.id}')
    i.icon-warning-sign
    |  Delete File