.container
  dl.file-card
    dt= file.name
    dd Category
      .pull-right #{file.category}
    dd Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.
    dd Donec id elit non mi porta gravida at eget metus.
    dd Etiam porta sem malesuada magna mollis euismod.

  dl.file-card
    dt User Tags
    dd
      if file.tags.length > 0
        for tag in file.tags
          span.label.label-success #{tag}
          |&nbsp;
      else
        div No tags


  h3 Entities
  for entity in file.entities
    span
      strong #{entity.text} -
      | #{entity.type} &nbsp;

  h3 Concept Tags
  for concept in file.concepts
    span #{concept.text} &nbsp;

  h4 Keyword Tags
  div(style='max-width:100%')
    for keyword in file.keywords
      span.label.label-primary #{keyword.text}
      |&nbsp;

  .btn.btn-danger.btn-block
    span.glyphicon.glyphicon-trash
    |  Delete