img.image-detail(src='#{downloadUrl}')
p
 a.has-icon(href='#{downloadUrl}')
  i.fa.fa-download
  | Download

dl.file-card
  dt= file.name
  dd Dimensions
    .pull-right #{file.width}x#{file.height}
  dd Size
    .pull-right #{file.friendlySize}

dl.file-card
  dt User Tags
  dd
    if file.tags.length > 0
      for tag in file.tags
        span.label.label-tag #{tag}
        |&nbsp;
    else
      div No tags
if file.recognizable
  dl.file-card
    dt Photo Details
    dd Gender
      .pull-right #{file.gender.value}
    dd Yaw
      .pull-right #{file.yaw}
    dd Roll
      .pull-right #{file.roll}
    dd Pitch
      .pull-right #{file.pitch}
    dd Face
      .pull-right #{file.face.value}
    dd Glasses
      .pull-right #{file.glasses.value}
    dd Smiling
      .pull-right #{file.smiling.value}


if file.concepts.length > 0
  dl.file-card
    dt Concepts
    dd
      for concept in file.concepts
        span.label.label-default #{concept.text}
        | &nbsp;


if file.keywords.length > 0
  dl.file-card
    dt Keywords
    dd
      for keyword in file.keywords
        span.label.label-primary #{keyword.text}
        |&nbsp;


p
  button#delete-file.button.is-danger(data-id='#{file.id}')
    i.fa.fa-warning
    |  Delete File