.text-center
  .file-open
    i.icon-film
.text-center
  a.button.is-danger.has-icon(href='#{downloadUrl}')
    i.icon-location-arrow
    span &nbsp; Open in Browser

dl.file-card
  dt= file.name
  dd Video Codec
    .pull-right #{file.videoCodec}
  dd Audio Codec
    .pull-right #{file.videoAudioCodec}
  dd Resolution
    .pull-right #{file.videoResolution.w}x#{file.videoResolution.h}
  dd Bitrate
    .pull-right #{file.videoBitrate}
  dd FPS
    .pull-right #{file.videoFps}
  dd Audio Bitrate
    .pull-right #{file.videoAudioBitrate}
  dd Audio Sample Rate
    .pull-right #{file.videoAudioSampleRate}

dl.file-card
  dt User Tags
  dd
    if file.tags.length > 0
      for tag in file.tags
        span.label.label-tag #{tag}
        |&nbsp;
    else
      div No tags

if file.entities.length > 0
  dl.file-card
    dt Entities
    dd
      for entity in file.entities
        span.btn.btn-default.btn-xs.entity(data-toggle='tooltip', title='#{entity.type}') #{entity.text} &nbsp;
        | &nbsp;
        script.
          $('.entity').tooltip();

if file.concepts.length > 0
  dl.file-card
    dt Concepts
    dd
      for concept in file.concepts
        span.label.label-default #{concept.text}
        | &nbsp;


if file.keywords.length > 0
  dl.file-card
    dt Keywords
    dd
      for keyword in file.keywords
        span.label.label-primary #{keyword.text}
        |&nbsp;


p
  button#delete-file.button.is-danger(data-id='#{file.id}')
    i.icon-warning-sign
    |  Delete File