.container
  .clearfix
    img.book-cover.thumbnail.pull-left(src='/static/#{file.album}')
    p #{file.title}
    p #{file.artist}
    p #{file.album}
    p #{file.genre}
    p
      a.button.is-tertiary.has-icon(href='#{downloadUrl}')
        span.glyphicon.glyphicon-send
        | &nbsp; Open in Browser

  dl.file-card
    dt About Artist
    dd= Pull data from last.fm

  dl.file-card
    dt= file.name
    dd Category
      .pull-right #{file.bookCategory}
    dd Size
      .pull-right #{file.friendlySize}

  dl.file-card
    dt User Tags
    dd
      if file.tags.length > 0
        for tag in file.tags
          span.label.label-success #{tag}
          |&nbsp;
      else
        div No tags

  dl.file-card
    dt Lyrics
    dd Pull in Last.fm lyrics

  dl.file-card
    dt Similar Artists
    dd Use last.fm api

  br
  .button.is-danger.has-icon
    span.glyphicon.glyphicon-trash
    |  Delete