.clearfix
  .album-cover
    if file.albumCovers[3]
      img.reflection.shift-right.pull-left(src="#{file.albumCovers[3]['#text']}")
      span.gloss
    else
      img.reflection.shift-right.pull-left(src='/img/no_cover.png')
      span.gloss
  .description
    p
      strong #{file.title}
    p
      em by
      |  #{file.artist}
    p
      em on
      |  #{file.album}
    p
      for tag in file.lastFmTags
        span.label.label-default #{tag}
        |&nbsp;
    p
      a.button.is-tertiary.has-icon(href='#{downloadUrl}')
        span.glyphicon.glyphicon-send
        | &nbsp; Open in Browser

dl.file-card
  dt
    span.entypo &#59170;
    |  About Artist
  dd.clearfix
    img.artist-image.pull-left.shift-right(src="#{file.artistImages[3]['#text']}")
    span!=  file.artistBio

dl.file-card
  dt
    span.entypo &#128318;
    |  #{file.name}
  dd Genre
    .pull-right #{file.genre}
  dd Duration
    - var minutes = Math.floor((file.trackDuration / 1000) / 60);
    - var seconds = Math.floor((file.trackDuration / 1000) % 60);
    .pull-right #{minutes}:#{seconds}
  dd Size
    .pull-right #{file.friendlySize}

dl.file-card
  dt
    span.entypo &#9834;
    |  Lyrics
  if file.lyrics
    dd!= file.lyrics.replace(/\n/g, '<br />')
  else
    dd No lyrics found

dl.file-card
  dt
    span.entypo &#128101;
    |  Similar Artists
  for sa in file.similarArtists
    dd.clearfix.similar-artist
      div.pull-left.shift-right(style="width:50px;height:50px;overflow:hidden")
        img(src="#{sa.image[1]['#text']}")
      span= sa.name

p
  button#delete-file.button.is-danger(data-id='#{file.id}')
    i.icon-warning-sign
    |  Delete File