.container
  dl.file-card
    dt= file.name
    dd Category
      .pull-right #{file.category}
    dd Size
      .pull-right #{file.friendlySize}

  dl.file-card
    dt User Tags
    dd
      if file.tags.length > 0
        for tag in file.tags
          span.label.label-success #{tag}
          |&nbsp;
      else
        div No tags

  dl.file-card
    dt Entities
    dd
      for entity in file.entities
        span.btn.btn-default.btn-xs.entity(data-toggle='tooltip', title='#{entity.type}') #{entity.text} &nbsp;
        | &nbsp;
        script.
          $('.entity').tooltip();

  h3 Concept Tags
  for concept in file.concepts
    span #{concept.text} &nbsp;

  h4 Keyword Tags
  div(style='max-width:100%')
    for keyword in file.keywords
      span.label.label-primary #{keyword.text}
      |&nbsp;

  .btn.btn-danger.btn-block
    span.glyphicon.glyphicon-trash
    |  Delete