for tag in file.tags
  span.label.label-danger #{tag}
  | &nbsp;
  
  p Title: #{file.title}
  p Artist: #{file.artist}
  p Album: #{file.album}
  p Genre: #{file.genre}
  p Size: #{file.friendlySize}
  p Cover: 
    img(src='/static/#{file.album}')