p
  a(href='#{downloadUrl}')
    i.fa.fa-download
    span &nbsp; Download

dl.file-card
  dt= file.name
  dd Category
    .pull-right #{file.category}
  dd Size
    .pull-right #{file.friendlySize}

dl.file-card
  dt User Tags
  dd
    if file.tags.length > 0
      for tag in file.tags
        span.label.label-tag #{tag}
        |&nbsp;
    else
      div No tags

if file.entities.length > 0
  dl.file-card
    dt Entities
    dd
      for entity in file.entities
        span.entity.label.label-success #{entity.text}
        |&nbsp;

if file.concepts.length > 0
  dl.file-card
    dt Concepts
    dd
      for concept in file.concepts
        span.entity.label.label-warning #{concept.text}
        |&nbsp;


if file.keywords.length > 0
  dl.file-card
    dt Keywords
    dd
        for keyword in file.keywords
          span.entity.label.label-primary #{keyword.text}
          |&nbsp;
p
  button#delete-file.button.is-danger(data-id='#{file.id}')
    i.fa.fa-trash-o
    |  Delete File