.container
  .clearfix
    if file.albumCover
      img.album-cover.thumbnail.pull-left(src="#{file.albumCovers[2]['#text']}")
    else
      img.album-cover.pull-left(src='/img/no_cover.png')
    p 
      strong #{file.title}

    p by #{file.artist}
    p on #{file.album}
    p
      a.button.is-tertiary.has-icon(href='#{downloadUrl}')
        span.glyphicon.glyphicon-send
        | &nbsp; Open in Browser

  dl.file-card
    dt About Artist
    dd!=  file.artistBio

  dl.file-card
    dt= file.name
    dd Genre
      .pull-right #{file.genre}
    dd Duration
      - var minutes = Math.floor((file.trackDuration / 1000) / 60);
      - var seconds = Math.floor((file.trackDuration / 1000) % 60);
      .pull-right #{minutes}:#{seconds}
    dd Size
      .pull-right #{file.friendlySize}

  dl.file-card
    dt User Tags
    dd
      if file.tags.length > 0
        for tag in file.tags
          span.label.label-success #{tag}
          |&nbsp;
      else
        div No tags

  dl.file-card
    dt Lyrics
    dd!= file.lyrics.replace(/\n/g, '<br />')

  dl.file-card
    dt Similar Artists
    dd Use last.fm api

  br
  .button.is-danger.has-icon
    span.glyphicon.glyphicon-trash
    |  Delete