h3 Category
p #{file.category}

h3 Summary
p= file.summary

h3 User Tags
if file.tags.length > 0
  for tag in file.tags
    span.label.label-danger #{tag}
    | &nbsp;
else
  div No tags

h3 Entities
for entity in file.entities
  span
    strong #{entity.text} -
    | #{entity.type} &nbsp;

h3 Concept Tags
for concept in file.concepts
  span #{concept.text} &nbsp;

h4 Keyword Tags
div(style='max-width:100%')
  for keyword in file.keywords
    span.label.label-primary #{keyword.text}
    | &nbsp;