extends layout

block content
  include _header
  #wrapper
    #scroller.has-icon
      if !files
        h3.text-center.fadeInLeft.animated You do not have any files yet
      else
        ul.arrowed
           for file in files
            li(class='fileicon-#{file.extension}', data-id='#{file.id}')
              .inner
                .heavy
                  a.elipsis(href='/files/#{file.id}') #{file.name}
                .light Size: #{file.friendlySize}

  script.
    require(['main'], function() {
      require(['index'], function() {
        console.log('Index has been loaded');
      });
    });
