extends layout

block content
  include _header
  #wrapper
    #scroller.has-icon
      if (files && files.length == 0)
        h4.heavy.text-center.fadeInLeft.animated No Files
      else
        ul.arrowed
          for file in files
            li(class='icontype-#{file.extension}', data-id='#{file.id}')
              .inner
                i.file-loader.icon-spinner.icon-spin
                .heavy
                  a.elipsis(href='/files/#{file.id}') #{file.name}
                .light Size: #{file.friendlySize}
  #message(data-message='#{message}', hidden)