extends layout

block content
  if !user
    header.bar-title
      h1.title CloudBucket
    .content
      .content-padded
        p Welcome to CloudBucket - online cloud storage with semantic search capability
        br
        a.button.button-positive.button-block(href='/auth/google', data-ignore='push') Login with Google
  else
    include _header

    .search-bar
      input.topcoat-search-input(type='search', value='', placeholder='Search by name or keywords')
    .topcoat-list__container
      ul.topcoat-list.list
        for file in files
          li.topcoat-list__item(id='#{file._id}')
            a(href='/files/#{file._id}')
              i.icon-file-text-alt
              p #{file.name}
              p #{file.size}, modified #{file.lastModified}
            a.delete-button Delete
          script.
            Hammer('##{file._id}').on('swiperight', function(event) {
              var $el = $(this);
              $el.transition({ x: 100 });
              var $deleteBtn = $(this).find('.delete-button');
              $deleteBtn.show().css('left', '-100px')
              $deleteBtn.click(function() {
                $el.animateCSS('fadeOutDown', function() {
                  $el.remove();
                });
              });
            });