extends layout

block content
  if !user
    header.bar-title
      h1.title CloudBucket
    .content
      .content-padded
        p Welcome to CloudBucket - online cloud storage with semantic search capability
        br
        a.button.button-positive.button-block(href='/auth/google', data-ignore='push') Login with Google
  else
    include _header
    .container
      .search-bar
        input.topcoat-search-input(type='search', value='', placeholder='Search by name or keywords')
      .topcoat-list__container
        ul.topcoat-list.list
          for file in files
            if file.isFolder
              li.topcoat-list__item(id='#{file._id}')
                i.icon-folder
                p #{file.name}
                p &nbsp;
            else
              li.topcoat-list__item(id='#{file._id}')
                a(href='#')
                  i.icon-text
                  p #{file.name}
                  p #{file.size}, modified #{file.lastModified}
                a.delete-button Delete
            script.
              Hammer('##{file._id}', { swipe_velocity: 0.2, drag_lock_to_axis: true }).on('swiperight swipeleft', function(event) {
                event.gesture.preventDefault();
                
                var $el = $(this);
                var $deleteBtn = $(this).find('.delete-button');
                
                switch(event.type) {
                  case 'swiperight':
                    $el.transition({ x: 100, duration: 250 });
                    break;
                  case 'swipeleft':
                    $el.transition({ x: 0, duration: 250 });
                    break;
                }
                  
                $deleteBtn.click(function() {
                  $el.animateCSS('fadeOutDown', function() {
                    $el.remove();
                  });
                });
              });
          if files.length < 1
            h3.center You do not have any files yet