extends layout

block content
  include _header
  #wrapper
    #scroller
      .container
        form
          .form-group
            label Full Name
            p.form-control-static #{user.displayName}
          .form-group
            label Email
            p.form-control-static #{user.email}
          .form-group
            label Google ID
            p.form-control-static #{user.googleId}
          .form-group
            label Disk Storage
            -var megabytes = Math.floor(user.diskUsage / 1048576);
            p.form-control-static #{megabytes} MB remaning

        a.button.is-danger(id='delete-account', data-user='#{user.googleId}')
          i.icon-warning-sign
          |  Delete Account